*{
    font-size: 17px;
    font-family: Arial;
}
#menu{
    width: 400px;
    float: left;
    height: 70px;
}
.Amenu{
    text-decoration: none;
    color: black;
}
.Amenu:hover{
    color:darkorange
}
#log{
    color:black;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    padding-top: 10px;
    margin-left: 47%;
}
img{

    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: block;
    margin: 20px auto;
}
#Li{
    text-decoration: none;
}
#Ptex{
    color: black;
    display: inline-block;
}
#Hrtex{
    font-weight: bold;
}
.btn{
    width: 100px;
    height: 40px;
    background: transparent;
    border: 2px solid #2249ac;
    margin: 15px auto;
    color: white;
    padding: 5px;
    border-radius: 10px;
    display: block;
    font-weight: bold;
    transition: .4s ease;
}
.btn:hover{
    color: chocolate;
    background-color:orange;
}
#Elab{
    font-size: 18px;
    margin: 10px 10px;
    display: inline-block;
    font-weight: bold;
    border-radius: 8px;
}
#Plab{
    font-size: 18px;
    margin: 10px 10px;
    display: inline-block;
    font-weight: bold;
    border-radius: 8px;
}
#Etex{
    margin-left: 35px;
    background-color: white;
    color: white;
    border: 3px solid gray;
    border-left: none;
    border-top: none;
    border-right: none;
}
#Ptex{
    background-color:white;
    color: white;
    border: 3px solid gray; 
    border-left: none;
    border-top: none;
    border-right: none; 
}
#Lsel{
    display: inline-block;
    font-weight: bold;
    border: 2px solid black;
    margin-left: 5px;
}
#Lsel:hover{
    color: orangered;
}
#Lab{
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
}
#lnklog{
    text-decoration: none;
    color: black;
}
#btnlog{
    width: 80px;
    height: 50px;
    display: inline-block;
    margin-left: 15px;
    padding: 2px;
    border-radius: 5px;
    border: 2px solid black;
    font-weight: bold;
}
#btnlog:hover{
    color: darkslateblue;
    background-color: orange;
}
table,th,td{
    border:2px solid #333;
}
table{
    border-collapse: collapse;
    width: 80%;
}
th{
    text-align: center;
}
td{
    height: 50px;
    vertical-align: top;
}
tbody tr:nth-child(even){
    background-color: aqua;
}
tbody tr:hover{
    background-color:chartreuse;
}

